.form_login {
  left: 50%;
  top: 50%;
  margin-left: 500px;
  
  margin-top: 25px;
}
h1{
  margin-left: 500px;
 
}
.form1{
  width:300px;
  /* margin: auto; */
  margin-left: 40%;
}
.form1 label{
  margin-left: 55px;
}
.logoutbtn{
  margin-left: 900px;
  margin-top: 2000px;
  color: blue;
}
.logoutbtn:hover{
  background-color: rgb(170, 152, 156);
  width: 200px;
}
.loginagain{
 margin-left: auto;
 margin-left: auto;
 width: 200px;
}
.child1{
  margin-left: 50%;
}
/* 
login css */
/* .login{  
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #23463f;  
  border-radius: 15px ;  
    
}  
h2{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #08ffd1;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  

}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  


}  
span{  
color: white;  
font-size: 17px;  
}  
a{  
float: right;  
background-color: grey;  
}   */
.col6{
  border: 1px solid black;
  height: 400px;
  
  width: 40px;
}
.col66{
  border: 1px solid black;
  height: 400px;
}


.TggleContent{
  border: 1px solid;
  height: 400px;
  width: 300px;
  float: right;
  padding: 10px;
  margin: 10px  ;
  z-index: -1;
  background-color: #59dff7;
}

.buttomm{
position:absolute;
bottom: -15%;
left:-100%;
margin-top: 20px;
}   

.DisplayCol{
  display: inline-block;
  white-space: nowrap; 
  overflow-x: hidden;
  text-overflow: ellipsis;
  height:400px;

}
.child1{
 
  margin-top: 8%;
  
}
.child{
  margin-top: -14%;
  font-size:30px ;
  text-align: center;
  color: hsl(318, 88%, 52%);
}
.child3{
  background-image: url('./images/img6.gif');
  padding:20%;
   
  background-size: cover;
  background-position: centebr;
}
.img{
  height: 10px;
  width: 10px;

  margin-right: 10px;
}

.form3{

         border: 3px;
}






 
        .card {
            border: 1px solid #28a745;
        }
        .card-login {
            margin-top: 130px;
            padding: 18px;
            max-width: 30rem;
        }

        .card-header {
            color: #fff;
            
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 600 !important;
            margin-top: 10px;
            border-bottom: 0;
        }

        .input-group-prepend span{
            width: 50px;
            background-color: #ff0000;
            color: #fff;
            border:0 !important;
        }

        input:focus{
            outline: 0 0 0 0  !important;
            box-shadow: 0 0 0 0 !important;
        }

        .login_btn{
            width: 130px;
        }

        .login_btn:hover{
            color: #fff;
            background-color: #ff0000;
        }

        .btn-outline-danger {
            color: #fff;
            font-size: 18px;
            background-color: #28a745;
            background-image: none;
            border-color: #28a745;
        }

        .form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1.2rem;
            line-height: 1.6;
            color: #28a745;
            background-color: transparent;
            background-clip: padding-box;
            border: 1px solid #28a745;
            border-radius: 0;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .input-group-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.6;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-radius: 0;
        }
        

        .bg-image{
          background-image: url('./images/Clouds-Floating.gif');
         padding:6%;
          
         background-size: cover;
         background-position: centebr;
         
        }


        .spin{
          display: block;
  position: fixed;
  z-index: 1031; 
  top: 50%;
  right: 50%; 
  margin-top: -px; 
  margin-right: -px;

        }
  .homeimg{
          background-image: url('./images/FancyFoolhardyKestrel-small.gif');
          max-width: 100%;
  background-size: cover;
  background-position: centebr;
  

        }


   